vti_encoding:SR|utf8-nl
vti_author:SR|bill
vti_modifiedby:SR|bill
vti_timecreated:TR|04 Nov 2000 02:02:12 -0000
vti_timelastmodified:TR|20 Nov 2000 13:26:48 -0000
vti_filesize:IR|6491
vti_extenderversion:SR|4.0.2.5526
vti_backlinkinfo:VX|osakan_00/about.html osakan_00/directory.html osakan_00/imode.html osakan_00/index2.html osakan_00/news.html osakan_00/template.html osakan_00/template1.html
vti_nexttolasttimemodified:TR|20 Nov 2000 13:09:18 -0000
vti_syncwith_osakan.com\:80:TR|20 Nov 2000 13:26:48 -0000
vti_cacheddtm:TX|20 Nov 2000 22:09:18 -0000
vti_cachedlinkinfo:VX|S|images/table/border_top_left.gif S|images/table/border_top1px.gif S|images/table/border_top_curve1.gif S|images/table/border_top_right_corner.gif S|images/table/border_right1px.gif S|images/table/border_bottom_curve.gif S|images/table/border_bottom_right_corner.gif S|images/table/border_bottom1px.gif S|images/table/border_bottom1px2.gif S|images/table/border_bottom_left.gif
vti_cachedsvcrellinks:VX|FSUS|osakan_00/images/table/border_top_left.gif FSUS|osakan_00/images/table/border_top1px.gif FSUS|osakan_00/images/table/border_top_curve1.gif FSUS|osakan_00/images/table/border_top_right_corner.gif FSUS|osakan_00/images/table/border_right1px.gif FSUS|osakan_00/images/table/border_bottom_curve.gif FSUS|osakan_00/images/table/border_bottom_right_corner.gif FSUS|osakan_00/images/table/border_bottom1px.gif FSUS|osakan_00/images/table/border_bottom1px2.gif FSUS|osakan_00/images/table/border_bottom_left.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_syncwith_ftp.osakan.com\:21:TX|20 Nov 2000 22:09:18 -0000
vti_syncofs_ftp.osakan.com\:21:TW|31 May 2001 04:25:00 -0000
